@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-display: 'Space Grotesk', 'Inter', system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


